@inherits LayoutComponentBase

@using FoodOrder.Client.Services
@using FoodOrder.Shared.FoodOrderModel
@inject iFoodOrderServices irestService
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage

@if (irestService.activeUsers ==null || irestService.activeUsers.Username =="")
{
    <main>
        <FoodOrder.Client.Pages.Index />
    </main>
}
else
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank"> Welcome, @irestService.activeUsers.Name</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}
