@page "/Home"
@using FoodOrder.Client.Services
@inject iFoodOrderServices irestService
@inject NavigationManager navigate
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage
@inject IJSRuntime JS

<h3>Home</h3>


Welcome @Name